[program:niajiri-worker]
process_name=%(program_name)s_%(process_num)02d
command=php artisan queue:work --tries=1
autostart=true
autorestart=true
numprocs=1
redirect_stderr=true
stdout_logfile=worker.log