@import "~vue-snotify/styles/material";

.cv-major-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 24px 16px !important;
}

.cv-composite-block {
    display: flex;
    margin-bottom: 15px;
}

.cv-normal-block {
  margin-bottom: 15px;
}

.cv-major-block:hover,
.cv-normal-block:hover,
.cv-composite-block:hover {
    border: 1px solid #449384;
    border-radius: 5px;
}

.inner-left-block {
    flex: 1;
    margin-right: 15px;
}

.inner-right-block {
    flex: 1;
}

.cv-text-input {
  padding: 0;
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  min-height: 10px;
  background: transparent;
  overflow-wrap: break-word;
  word-break: break-word;
  position: relative;
  z-index: 1;
}

.cv-textarea-input {
    padding: 0;
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    resize: none;
    height: 16px;
    background: transparent;
    overflow-wrap: break-word;
    word-break: break-word;
    position: relative;
    z-index: 1;
    width: 100%;
}

.cv-text-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgb(179, 179,179);
      font-weight: bold;
      opacity: 1; /* Firefox */
}

.has-cv-error {
  -webkit-transition: color 0.15s ease-in-out 0s; //Safari
  transition: color 0.15s ease-in-out 0s;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.has-cv-error::placeholder {
  color: #a94442;
}

// Internet Explorer 10-11
.has-cv-error:-ms-input-placeholder {
  color: #a94442;
}

// Microsoft Edge
.has-cv-error::-ms-input-placeholder {
  color: #a94442;
}

label.has-cv-error {
  color: #a94442;
  -webkit-transition: color 0.15s ease-in-out 0s; //Safari
  transition: color 0.15s ease-in-out 0s;
}
/* Internet Explorer 10-11 */
.cv-text-input:-ms-input-placeholder {
  color: rgb(179, 179,179);
  font-weight: bold;
}

// Microsoft Edge
.cv-text-input::-ms-input-placeholder {
    color: rgb(179, 179,179);
    font-weight: bold;
}

.cv-textarea-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgb(179, 179,179);
      font-weight: bold;
      opacity: 1; /* Firefox */
  }

/* Internet Explorer 10-11 */
.cv-textarea-input:-ms-input-placeholder {
  color: rgb(179, 179,179);
  font-weight: bold;
}

// Microsoft Edge
.cv-textarea-input::-ms-input-placeholder {
  color: rgb(179, 179,179);
  font-weight: bold;
}

.cv-placeholder {
  position: absolute;
  color: #b1b1b1;
}

.asterik {
  color: #a94442;
}

.has-cv-error {
  .cv-placeholder {
    color: #a94442;
    -webkit-transition: color 0.15s ease-in-out 0s; //Safari
    transition: color 0.15s ease-in-out 0s;
  }
  .cv-text-input {
    color: #a94442;
    -webkit-transition: color 0.15s ease-in-out 0s; //Safari
    transition: color 0.15s ease-in-out 0s;
  }
  .cv-textarea-input {
    color: #a94442;
    -webkit-transition: color 0.15s ease-in-out 0s; //Safari
    transition: color 0.15s ease-in-out 0s;
  }
}

.position-relative {
  position: relative !important;
}

.cv-icon {
    color: #008cff;
}

.cv-icon.has-cv-error {
    color: #a94442;
}

#vue-candidate-cv {
  font-family: "Lato", Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", sans-serif !important;
}

.ibox-cv-background {
  background-image: url('../../../public/images/landing/grey.png');
}

.ibox-cv-content {
  background: transparent;
}

.component-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 11px;
}

.flex {
    display: flex;
}

.flex-vertical-center {
    align-items: center;
}

.flex-horizontal-center {
    justify-content: center;
}

.cv-top-margin {
  margin-top: 30px;
}

.avatar-container {
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    width: 220px;
    border-radius: 50%;
}

.no-display {
  display: none !important;
}

.avatar-upload-btn {
  transition: .5s ease;
  opacity: 0;
}

.avatar-container:hover .avatar-upload-btn {
  opacity: 1;
}
