/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.7
 *
*/

// Variables, Mixins
@import "variables";
@import "mixins";
//Theme Elements
@import "typography";
@import "navigation";
@import "top_navigation";
@import "buttons";
@import "badges_labels";
@import "elements";
@import "sidebar";
@import "base";
@import "pages";
@import "metismenu";
@import "spinners";
@import "skins";
// Media query style
@import "media";
// Custom style
// Your custom style to override base style
@import "custom";
// Clear layout on print mode
@media print {
    nav.navbar-static-side {
        display: none;
    }
    body {
        overflow: visible !important;
    }
    #page-wrapper {
        margin: 0;
    }
}